*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header{
    padding: 6rem 6rem 2rem 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.header h1{
    color: #FFFF;
    font-size: 2.2rem;
}

.input-section{
    display: flex;
    gap: 8px;
}

.input-section input{
    padding: 0.5rem 0.2rem;
    border: 2px solid gray;
    border-radius: 5px;
}

.input-section button{
    padding: 0 0.5rem;
}

#information-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
    color: white;
    width: 90%;
    margin: 0 auto;
}

.char-div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: #292929;
    max-width: 200px;
    align-items: center;
    padding-bottom: 3rem;
    border-radius: 20px;
    gap: 5px;
}

.char-div .character-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.char-div h2{
    font-size: 1.2rem;
    text-align: center;
}

.char-div p{
    font-size: 1rem;
    margin-top: 0.5rem;
}